<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Log In to Your cafeIN Account</title>

    <link rel="stylesheet" href="{% static 'css/login_main.css' %}">
    <script>
    $(document).ready(function(){
       var key = getCookie("key");
       $("#id").val(key);

       if($("#id").val() != ""){
           $("#remember-check").attr("checked", true);
       }

       $("#remember-check").change(function(){
           if($("#remember-check").is(":checked")){
               setCookie("key", $("#id").val(), 7);
           }else{
               deleteCookie("key");
           }
       });


       $("#id").keyup(function(){
           if($("#remember-check").is(":checked")){
               setCookie("key", $("#id").val(), 7);
           }
       });

   function setCookie(cookieName, value, exdays) {
      var exdate = new Date();
      exdate.setDate(exdate.getDate() + exdays);
      var cookieValue = escape(value)
            + ((exdays == null) ? "" : "; expires=" + exdate.toGMTString());
      document.cookie = cookieName + "=" + cookieValue;
   }

   function deleteCookie(cookieName) {
      var expireDate = new Date();
      expireDate.setDate(expireDate.getDate() - 1);
      document.cookie = cookieName + "= " + "; expires="
            + expireDate.toGMTString();
   }

   function getCookie(cookieName) {
      cookieName = cookieName + '=';
      var cookieData = document.cookie;
      var start = cookieData.indexOf(cookieName);
      var cookieValue = '';
      if (start != -1) {
         start += cookieName.length;
         var end = cookieData.indexOf(';', start);
         if (end == -1)
            end = cookieData.length;
         cookieValue = cookieData.substring(start, end);
      }
      return unescape(cookieValue);
   }
</script>


</head>

<body>
    <div id = "header">
        <img src = "{% static 'image/logo_white.png' %}" ></div>
    <div class="login-wrapper">
        <h2>Login</h2>
        <form method="post" action="" id="login-form">
        {% csrf_token %}
            <input type="text" name="userName" placeholder="Email">
            <input type="password" name="userPassword" placeholder="Password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
<!--            수정  -->
<!--            <a href=./signup> 회원가입</a>-->
            <a href=signup/> 회원가입</a>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>